<h3>{{leyenda}}</h3>
<div class="input-group">
    <span class="input-group-btn">
        <button (click)="changeValue(-5)" class="btn btn-primary" type="button">
            <i class="mdi mdi-minus"></i>
        </button>
    </span>
    
    <input type="text" class="form-control" name="percent" [(ngModel)]="percent" readonly/>
    
    <span class="input-group-btn">
        <button (click)="changeValue(+5)" class="btn btn-primary" type="button">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>

</div>